<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Джа пидр</a></h1>
        </div>

      	<a class="highslide" title="Джапаров Тимур" href="vkimgs/pp.userapi.com/c841528/v841528050/3891/nq0XP5O79AM.jpg"><img src="vkimgs/pp.userapi.com/c841528/v841528050/3892/SmbJnubdtSo.jpg" alt="Джапаров Тимур"></a>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>